<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">Drill List</div>
    <div class="panel-body">
        <table class="table" >
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Start Position</td>
                    <td>
                        <button class="btn btn-danger" ng-click="vm.toggleProcedure()">{{vm.showProcedure ? "Hide" : "Show"}} Procedure</button>
                    </td>
                    <td>Suggested TimeSpan</td>
                    <td>Suggested Reps</td>
                    <td>Target Par</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="drill in vm.Drills">
                    <td>
                        <a ui-sref="drillDetail({drillId:drill.Id})">
                            {{drill.Name}}
                        </a>
                    </td>
                    <td>{{drill.StartPosition}}</td>
                    <td>
                        <div ng-show="vm.showProcedure">
                            {{drill.Procedure}}
                        </div>
                    </td>
                    <td>{{drill.SuggestedTimeSpan}}</td>
                    <td>{{drill.SuggestedReps}}</td>
                    <td>{{drill.TargetPar}}</td>
                    <td>
                        <a class="btn btn-primary" ui-sref="drillEdit.info({drillId: drill.Id})">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>